js/qrcode.min.js
js/qrcodegen-v1.8.0-es6.js
case_big.png
logo.png
images/main_title_bg.jpg
images/bg.png
images/pattern.avif
images/1
.vscode/
.idea/
*.log
.DS_Store
thumbs.db
desktop.ini
node_modules/
dist/
build/
.env
*.local