/* Montserrat Regular (400) - Asosiy matnlar uchun */
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* Montserrat Medium (500) - Menyu va tugmalar uchun */
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

/* Montserrat SemiBold (600) - Kichik sarlavhalar uchun */
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

/* Montserrat Bold (700) - Katta sarlavhalar va vaqtlar uchun */
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* Montserrat ExtraBold (800) - Juda qalin urg'ular uchun */
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

/* Montserrat Black (900) - Maksimal qalinlik (Logotip uchun) */
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}